<center><h3><p>Iris Rose</p></h3></center>

<div class="row" style="margin-top: 70px;">
	<span class="span7">
		<ul>
			<li><p>Jahrgang '62</p></li>
			<li><p>Kunst studiert in Hamburg<p></li>
			<li><p>&Ouml;l-Malerei</p></li>
		</ul>
	</span>
	<span class="span4">
		<img src="https://s3-eu-west-1.amazonaws.com/irisrose/iris_portrait.png" />
	</span>
</div>