<h2 style="margin-bottom: 6px;">Alle Werke</h2>
<center><p style="font-size: 0.7em;">Zum vergrößern auf die Werke klicken</p></center>
<table class="table">
	<tbody>
		<tr>
			<td style="border-top: none;"><center><a href="/pages/bild29"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/bild29_klein.png" /></a></center><br /><p align="center">Lake Los Carneros, Santa Barbara</p></td>
			<td style="border-top: none;"><center><a href="/pages/bild21"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk21_klein.png" /></a></center><br /><p align="center">Innenhof mit Kindern</p></td>
			<td style="border-top: none;"><center><a href="/pages/bild22"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk22_klein.png" /></a></center><br /><p align="center">Bl&uuml;tenmeer</p></td>
		</tr>
		<tr>
			<td style="border-top: none;"><center><a href="/pages/bild8"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk8_klein.png" /></a></center><br /><p align="center">Morgenstimmung</p></td>
			<td style="border-top: none;"><center><a href="/pages/bild9"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk9_klein.png" /></a></center><br /><p align="center">Im tiefen Winter</p></td>
			<td style="border-top: none;"><center><a href="/pages/bild5"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk5_klein.jpg" /></a></center><br /><p align="center">Kater Toni</p></td>
		</tr>
		<tr>
			<td style="border-top: none;"><center><a href="/pages/bild18"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk18_klein.png" /></a></center><br /><p align="center">Haus in Wrixum</p></td>
			<td style="border-top: none;"><center><a href="/pages/bild1"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk1_klein.jpg" /></a></center><br /><p align="center">Friesenhaus mit Garten</p></td>
			<td style="border-top: none;"><center><a href="/pages/bild15"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk15_klein.png" /></a></center><br /><p align="center">Stilleben mit Blumenstrau&szlig;</p></td>
		</tr>
		<tr>
			<td style="border-top: none;"><center><a href="/pages/bild25"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk25_klein.png" /></a></center><br /><p align="center">Valerie an der Buhne 16</p></td>
			<td style="border-top: none;"><center><a href="/pages/bild6"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk6_klein.jpg" /></a></center><br /><p align="center">Labrador Lui am Strand</p></td>
			<td style="border-top: none;"><center><a href="/pages/bild19"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk19_klein.png" /></a></center><br /><p align="center">Die Ruhe am Strand</p></td>
		</tr>
		<tr>
			<td style="border-top: none;"><center><a href="/pages/bild16"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk16_klein.png" /></a></center><br /><p align="center">Abendstimmung</p></td>
			<td style="border-top: none;"><center><a href="/pages/bild17"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk17_klein.png" /></a></center><br /><p align="center">Vater und Sohn</p></td>
			<td style="border-top: none;"><center><a href="/pages/bild13"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk13_klein.png" /></a></center><br /><p align="center">Phillip in den D&uuml;nen</p></td>
		</tr>
		<tr>
			<td style="border-top: none;"><center><a href="/pages/bild10"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk10_klein.png" /></a></center><br /><p align="center">Segelschiff vor Dragonera</p></td>
			<td style="border-top: none;"><center><a href="/pages/bild2"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk2_klein.jpg" /></a></center><br /><p align="center">Michelle am Strand</p></td>
			<td style="border-top: none;"><center><a href="/pages/bild12"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk12_klein.png" /></a></center><br /><p align="center">Gemeinsames Lesen</p></td>
		</tr>
		<tr>
			<td style="border-top: none;"><center><a href="/pages/bild23"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk23_klein.png" /></a></center><br /><p align="center">Labrador Lui auf den Katzenk&ouml;pfen</p></td>
			<td style="border-top: none;"><center><a href="/pages/bild20"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk20_klein.png" /></a></center><br /><p align="center">Hinteransicht</p></td>
			<td style="border-top: none;"><center><a href="/pages/bild11"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk11_klein.png" /></a></center><br /><p align="center">Koch (Studienarbeit)</p></td>
		</tr>
		<tr>
			<td style="border-top: none;"><center><a href="/pages/bild28"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/bild28_klein.png" /></a></center><br /><p align="center">Covington Way, Santa Barbara</p></td>
			<td style="border-top: none;"><center><a href="/pages/bild24"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk24_klein.png" /></a></center><br /><p align="center">Im bl&uuml;henden Garten</p></td>
			<td style="border-top: none;"><center><a href="/pages/bild27"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/bild27_klein.png" /></a></center><br /><p align="center">Shoreline, Santa Barbara</p></td>
		</tr>
		<tr>
			<td style="border-top: none;"><center><a href="/pages/bild30"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/bild30_klein.png" /></a></center><br /><p align="center">Mohnblumen</p></td>
			<td style="border-top: none;"><center><a href="/pages/bild4"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk4_klein.jpg" /></a></center><br /><p align="center">Spaziergang am Sylter Strand</p></td>
			<td style="border-top: none;"><center><a href="/pages/bild3"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk3_klein.jpg" /></a></center><br /><p align="center">Abendstimmung Sylter Kliff</p></td>
		</tr>
		<tr>
			<td style="border-top: none;"><center><a href="/pages/bild26"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk26_klein.png" /></a></center><br /><p align="center">Kaminstimmung</p></td>
			<td style="border-top: none;"><center><a href="/pages/bild7"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk7_klein.png" /></a></center><br /><p align="center">Haus in Blankenese, Hamburg</p></td>
			<td style="border-top: none;"><center><a href="/pages/bild31"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/bild31_klein.png" /></a></center><br /><p align="center">Wattenmeer</p></td>
		</tr>
	</tbody>
</table>