<center><a href = "" onClick="javascript: history.go(-1)"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk19.png"></a></center>
<div style="margin-top: 20px;">
	<center><p>Die Ruhe am Strand<br>&Ouml;l</p></center>
</div>