<center><a href = "" onClick="javascript: history.go(-1)"><%= image_tag "schafspaar.png", style: 'width:740px;' %></a></center>
<div style="margin-top: 20px;">
	<center><p>Schafspaar, Föhr<br>&Ouml;l Pastell</p></center>
</div>