<script type="text/javascript">
$(function(){
       $('.carousel').carousel({
    interval: 200000
    })
});
</script>

    <div id="myCarousel" class="carousel">
    <!-- Carousel items -->
    <div class="carousel-inner">
    <div class="active item"><center><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk17.png"></center></div>
    <div class="item"><center><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk14.png"></center></div>
    <div class="item"><center><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk12.png"></center></div>
    <div class="item"><center><img src="https://s3-eu-west-1.amazonaws.com/irisrose/bild28.png"></center></div>
    <div class="item"><center><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk20.png"></center></div>
    <div class="item"><center><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk2.png"></center></div>
    <div class="item"><center><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk21.png"></center></div>
    <div class="item"><center><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk8.png"></center></div>
    <div class="item"><center><img src="https://s3-eu-west-1.amazonaws.com/irisrose/bild27.png"></center></div>
    <div class="item"><center><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk10.png"></center></div>
    <div class="item"><center><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk4.png"></center></div>
    <div class="item"><center><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk11.png"></center></div>
    <div class="item"><center><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk19.png"></center></div>
    <div class="item"><center><img src="https://s3-eu-west-1.amazonaws.com/irisrose/bild29.png"></center></div>
    <div class="item"><center><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk6_carousel.jpg"></center></div>
    <div class="item"><center><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk24.png"></center></div>
    <div class="item"><center><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk13.png"></center></div>
    <div class="item"><center><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk18.png"></center></div>
    <div class="item"><center><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk9_carousel.png"></center></div>
    <div class="item"><center><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk23.png"></center></div>
    <div class="item"><center><img src="https://s3-eu-west-1.amazonaws.com/irisrose/bild30.png"></center></div>
    <div class="item"><center><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk7.png"></center></div>
    <div class="item"><center><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk15.png"></center></div>
    <div class="item"><center><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk22.png"></center></div>
    <div class="item"><center><img src="https://s3-eu-west-1.amazonaws.com/irisrose/bild31.png"></center></div>
    <div class="item"><center><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk16.png"></center></div>
    <div class="item"><center><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk25.png"></center></div>
    <div class="item"><center><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk1.png"></center></div>
    <div class="item"><center><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk26_carousel.png"></center></div>
    <div class="item"><center><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk5.png"></center></div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>