<h2 style="margin-bottom: 6px;">Friesenh&auml;user</h2>
<center><p style="font-size: 0.7em;">Zum vergrößern auf die Werke klicken</p></center>
<table class="table">
	<tbody>
		<tr>
			<td style="border-top: none;"><center><a href="/pages/werk24"><img src="/assets/werk24_klein.png" /></a></center><br /><p align="center">Spaziergang am Nordseestrand<br /> 16 x 20 	&Ouml;l</p></td>
			<td style="border-top: none;"><center><a href="/pages/werk21"><img src="/assets/werk21_klein.png" /></a></center><br /><p align="center">Spaziergang am Nordseestrand<br /> 16 x 20 	&Ouml;l</p></td>
			<td style="border-top: none;"><center><a href="/pages/werk22"><img src="/assets/werk22_klein.png" /></a></center><br /><p align="center">Labrador<br /> 16 x 20 	&Ouml;l</p></td>
		</tr>
		<tr>
			<td style="border-top: none;"><center><a href="/pages/werk21"><img src="/assets/werk21_klein.png" /></a></center><br /><p align="center">Spaziergang am Nordseestrand<br /> 16 x 20 	&Ouml;l</p></td>
			<td style="border-top: none;"><center><a href="/pages/werk9"><img src="/assets/werk9_klein.png" /></a></center><br /><p align="center">Friesenhaus Winter<br /> 16 x 20 	&Ouml;l</p></td>
			<td style="border-top: none;"><center><a href="/pages/werk20"><img src="/assets/werk20_klein.png" /></a></center><br /><p align="center">Kater<br /> 20 x 16 	&Ouml;l</p></td>
		</tr>
		<tr>
			<td style="border-top: none;"><center><a href="/pages/werk18"><img src="/assets/werk18_klein.png" /></a></center><br /><p align="center">Labrador<br /> 16 x 20 	&Ouml;l</p></td>
			<td style="border-top: none;"><center><a href="/pages/werk1"><img src="/assets/werk1_klein.jpg" /></a></center><br /><p align="center">Friesenhaus<br /> 16 x 20 	&Ouml;l</p></td>
			<td style="border-top: none;"><center><a href="/pages/werk8"><img src="/assets/werk8_klein.png" /></a></center><br /><p align="center">Friesenhaus<br /> 16 x 20 	&Ouml;l</p></td>
		</tr>
	</tbody>
</table>