<h2 style="margin-bottom: 6px;">Friesenh&auml;user</h2>
<center><p style="font-size: 0.7em;">Zum vergrößern auf die Bilder klicken</p></center>
<table class="table">
	<tbody>
		<tr>
			<td style="border-top: none; vertical-align: middle;"><center><a href="/pages/bild24"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk24_klein.png" /></a></center><br /><p align="center">Im bl&uuml;henden Garten</p></td>
			<td style="border-top: none; vertical-align: middle;"><center><a href="/pages/bild21"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk21_klein.png" /></a></center><br /><p align="center">Innenhof mit Kindern</p></td>
			<td style="border-top: none; vertical-align: middle;"><center><a href="/pages/bild22"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk22_klein.png" /></a></center><br /><p align="center">Bl&uuml;tenmeer</p></td>
		</tr>
		<tr>
			<td style="border-top: none; vertical-align: middle;"><center><a href="/pages/bild8"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk8_klein.png" /></a></center><br /><p align="center">Morgenstimmung</p></td>
			<td style="border-top: none; vertical-align: middle;"><center><a href="/pages/bild9"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk9_klein.png" /></a></center><br /><p align="center">Im tiefen Winter</p></td>
			<td style="border-top: none; vertical-align: middle;"><center><a href="/pages/bild20"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk20_klein.png" /></a></center><br /><p align="center">Hinteransicht</p></td>
		</tr>
		<tr>
			<td style="border-top: none; vertical-align: middle;"><center><a href="/pages/bild18"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk18_klein.png" /></a></center><br /><p align="center">Haus in Wrixum</p></td>
			<td style="border-top: none; vertical-align: middle;"><center><a href="/pages/bild1"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk1_klein.jpg" /></a></center><br /><p align="center">Friesenhaus mit Garten</p></td>
			<td style="border-top: none; vertical-align: middle;"><center><a href="/pages/bild34"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/bild34_klein.png" /></a></center><br /><p align="center">Friesenhaus Hinteransicht</p></td>
		</tr>
	</tbody>
</table>