<h2 style="margin-bottom: 6px;">Friesenh&auml;user</h2>
<center><p style="font-size: 0.7em;">Zum vergrößern auf die Bilder klicken</p></center>
<table class="table">
	<tbody>
		<tr>
			<td style="border-top: none; vertical-align: middle;"><center><a href="/pages/bild24"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk24_klein.png" /></a></center><br /><p align="center">Friesenhaus mit bl&uuml;hendem Garten</p></td>
			<td style="border-top: none; vertical-align: middle;"><center><a href="/pages/bild21"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk21_klein.png" /></a></center><br /><p align="center">Friesenhaus Innengarten</p></td>
			<td style="border-top: none; vertical-align: middle;"><center><a href="/pages/bild22"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk22_klein.png" /></a></center><br /><p align="center">Friesenhaus von der Seite mit L&auml;rche</p></td>
		</tr>
		<tr>
			<td style="border-top: none; vertical-align: middle;"><center><a href="/pages/bild8"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk8_klein.png" /></a></center><br /><p align="center">Friesenhaus hinten</p></td>
			<td style="border-top: none; vertical-align: middle;"><center><a href="/pages/bild9"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk9_klein.png" /></a></center><br /><p align="center">Friesenhaus im Winter</p></td>
			<td style="border-top: none; vertical-align: middle;"><center><a href="/pages/bild20"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk20_klein.png" /></a></center><br /><p align="center">Friesenhaus von hinten</p></td>
		</tr>
		<tr>
			<td style="border-top: none; vertical-align: middle;"><center><a href="/pages/bild18"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk18_klein.png" /></a></center><br /><p align="center">Friesenhaus in Wrixum</p></td>
			<td style="border-top: none; vertical-align: middle;"><center><a href="/pages/bild1"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk1_klein.jpg" /></a></center><br /><p align="center">Friesenhaus von vorne</p></td>
		</tr>
	</tbody>
</table>