<h2>Iris Rose Kunst</h2>
<table class="table">
	<tbody>
		<tr>
			<td style="border-top: none;"><center><a href="/pages/werk1"><img tag="Rails" src="/assets/werk1_klein.jpg" /></a></center><br /><p align="center">Friesenhaus<br /> 16 x 20 	&Ouml;l</p></td>
			<td style="border-top: none;"><center><a href="/pages/werk2"><img tag="Rails" src="/assets/werk2_klein.jpg" /></a></center><br /><p align="center">Dame dem Meer entgegenblickend<br /> 16 x 20 	&Ouml;l</p></td></td>
			<td style="border-top: none;"><center><a href="/pages/werk3"><img tag="Rails" src="/assets/werk3_klein.jpg" /></a></center><br /><p align="center">Syler Strand<br /> 16 x 20 	&Ouml;l</p></td></td>
		</tr>
	</tbody>
</table>

<!-- style="color: #000;" -->