<h1 style="margin-bottom: 6px;">Iris Rose</h1>
<h2 style="margin-bottom: 6px;">Malerei</h2>
<table class="table">
	<tbody>
		<tr>
			<td style="border-top: none;"><a href="/pages/friesenhaus"><p align="center" style="font-size:12px;">Friesenh&auml;user</p></a></td>
			<td style="border-top: none;"><a href="/pages/portrait"><p align="center" style="font-size:12px;">Portraits</p></a></td>
			<td style="border-top: none;"><a href="/pages/landschaft"><p align="center" style="font-size:12px;">Landschaft</p></a></td>
		</tr>
		<tr>
			<td style="border-top: none; vertical-align: middle;"><center><a href="/pages/friesenhaus"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk1_klein.jpg" /></a></center></td>
			<td style="border-top: none; vertical-align: middle;"><center><a href="/pages/portrait"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk2_klein.jpg" /></a></center></td>
			<td style="border-top: none; vertical-align: middle;"><center><a href="/pages/landschaft"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk3_klein.jpg" /></a></center></td>
		</tr>
		<tr>
			<td style="border-top: none; vertical-align: middle;"><center><a href="/pages/friesenhaus"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk9_klein.png" /></a></center></td>
			<td style="border-top: none; vertical-align: middle;"><center><a href="/pages/portrait"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk6_klein.jpg" /></a></center></td>
			<td style="border-top: none; vertical-align: middle;"><center><a href="/pages/landschaft"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk4_klein.jpg" /></a></center></td>
		</tr>
	</tbody>
</table>

<!-- style="color: #000;" -->


