<h2 style="margin-bottom: 6px;">Iris Rose - Kunst</h2>
<h2 style="margin-bottom: 6px; font-size: 13px;">(Vorschau)</h2>
<table class="table">
	<tbody>
		<tr>
			<td style="border-top: none;"><a href="/pages/friesenhaus"><p align="center" style="font-size:12px;">Friesenh&auml;user</p></a></td>
			<td style="border-top: none;"><a href="/pages/portrait"><p align="center" style="font-size:12px;">Portraits</p></a></td>
			<td style="border-top: none;"><a href="/pages/landschaft"><p align="center" style="font-size:12px;">Landschaft</p></a></td>
		</tr>
		<tr>
			<td style="border-top: none;"><center><a href="/pages/friesenhaus"><img src="/assets/werk1_klein.jpg" /></a></center></td>
			<td style="border-top: none;"><center><a href="/pages/portrait"><img src="/assets/werk2_klein.jpg" /></a></center></td>
			<td style="border-top: none;"><center><a href="/pages/landschaft"><img src="/assets/werk3_klein.jpg" /></a></center></td>
		</tr>
		<tr>
			<td style="border-top: none;"><center><a href="/pages/friesenhaus"><img src="/assets/werk9_klein.png" /></a></center></td>
			<td style="border-top: none;"><center><a href="/pages/portrait"><img src="/assets/werk6_klein.jpg" /></a></center></td>
			<td style="border-top: none;"><center><a href="/pages/landschaft"><img src="/assets/werk4_klein.jpg" /></a></center></td>
		</tr>
	</tbody>
</table>

<!-- style="color: #000;" -->


