<h2 style="margin-bottom: 6px;">Landschaft und andere Motive</h2>
<center><p style="font-size: 0.7em;">Zum vergrößern auf die Werke klicken</p></center>
<table class="table">
	<tbody>
		<tr>
			<td style="border-top: none;"><center><a href="/pages/werk14"><img src="/assets/werk14_klein.png" /></a></center><br /><p align="center">Kater<br /> 20 x 16 	&Ouml;l</p></td>
			<td style="border-top: none;"><center><a href="/pages/werk4"><img src="/assets/werk4_klein.jpg" /></a></center><br /><p align="center">Kater<br /> 20 x 16 	&Ouml;l</p></td>
			<td style="border-top: none;"><center><a href="/pages/werk3"><img src="/assets/werk3_klein.jpg" /></a></center><br /><p align="center">Labrador<br /> 16 x 20 	&Ouml;l</p></td>
		</tr>
		<tr>
			<td style="border-top: none;"><center><a href="/pages/werk26"><img src="/assets/werk26_klein.png" /></a></center><br /><p align="center">Spaziergang am Nordseestrand<br /> 16 x 20 	&Ouml;l</p></td>
			<td style="border-top: none;"><center><a href="/pages/werk15"><img src="/assets/werk15_klein.png" /></a></center><br /><p align="center">Kater<br /> 20 x 16 	&Ouml;l</p></td>
			<td style="border-top: none;"><center><a href="/pages/werk15"><img src="/assets/werk15_klein.png" /></a></center><br /><p align="center">Labrador<br /> 16 x 20 	&Ouml;l</p></td>
		</tr>
	</tbody>
</table>