<h2 style="margin-bottom: 6px;">Portraits</h2>
<center><p style="font-size: 0.7em;">Zum vergrößern auf die Bilderbildbild klicken</p></center>
<table class="table">
	<tbody>
		<tr>
			<td style="border-top: none; vertical-align: middle;"><center><a href="/pages/bild25"><img src="/assets/werk25_klein.png" /></a></center><br /><p align="center">Valerie - Buhne 16</p></td>
			<td style="border-top: none; vertical-align: middle;"><center><a href="/pages/bild6"><img src="/assets/werk6_klein.jpg" /></a></center><br /><p align="center">Labrador am Strand</p></td>
			<td style="border-top: none; vertical-align: middle;"><center><a href="/pages/bild19"><img src="/assets/werk19_klein.png" /></a></center><br /><p align="center">Ruhe am Strand</p></td>
		</tr>
		<tr>
			<td style="border-top: none; vertical-align: middle;"><center><a href="/pages/bild16"><img src="/assets/werk16_klein.png" /></a></center><br /><p align="center">Portrait Valerie und Phillip</p></td>
			<td style="border-top: none; vertical-align: middle;"><center><a href="/pages/bild17"><img src="/assets/werk17_klein.png" /></a></center><br /><p align="center">Hafenstrand</p></td>
			<td style="border-top: none; vertical-align: middle;"><center><a href="/pages/bild13"><img src="/assets/werk13_klein.png" /></a></center><br /><p align="center">Phillip in den D&uuml;nen</p></td>
		</tr>
		<tr>
			<td style="border-top: none; vertical-align: middle;"><center><a href="/pages/bild10"><img src="/assets/werk10_klein.png" /></a></center><br /><p align="center">Mallorca</p></td>
			<td style="border-top: none; vertical-align: middle;"><center><a href="/pages/bild11"><img src="/assets/werk11_klein.png" /></a></center><br /><p align="center">Koch (Studienarbeit)</p></td>
			<td style="border-top: none; vertical-align: middle;"><center><a href="/pages/bild12"><img src="/assets/werk12_klein.png" /></a></center><br /><p align="center">Portrait Maren und Phillip</p></td>
		</tr>
		<tr>
			<td style="border-top: none; vertical-align: middle;"><center><a href="/pages/bild23"><img src="/assets/werk23_klein.png" /></a></center><br /><p align="center">Labrador auf den Katzenk&ouml;pfen</p></td>
			<td style="border-top: none; vertical-align: middle;"><center><a href="/pages/bild5"><img src="/assets/werk5_klein.jpg" /></a></center><br /><p align="center">Kater Toni</p></td>
			<td style="border-top: none; vertical-align: middle;"><center><a href="/pages/bild2"><img src="/assets/werk2_klein.jpg" /></a></center><br /><p align="center">Michelle</p></td>
		</tr>
	</tbody>
</table>