<h2 style="margin-bottom: 6px;">Portraits</h2>
<center><p style="font-size: 0.7em;">Zum vergrößern auf die Bilder klicken</p></center>
<table class="table">
	<tbody>
		<tr>
			<td style="border-top: none; vertical-align: middle;"><center><a href="/pages/bild25"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk25_klein.png" /></a></center><br /><p align="center">Valerie an der Buhne 16</p></td>
			<td style="border-top: none; vertical-align: middle;"><center><a href="/pages/bild6"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk6_klein.jpg" /></a></center><br /><p align="center">Labrador Lui am Strand</p></td>
			<td style="border-top: none; vertical-align: middle;"><center><a href="/pages/bild19"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk19_klein.png" /></a></center><br /><p align="center">Die Ruhe am Strand</p></td>
		</tr>
		<tr>
			<td style="border-top: none; vertical-align: middle;"><center><a href="/pages/bild16"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk16_klein.png" /></a></center><br /><p align="center">Abendstimmung</p></td>
			<td style="border-top: none; vertical-align: middle;"><center><a href="/pages/bild17"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk17_klein.png" /></a></center><br /><p align="center">Vater und Sohn</p></td>
			<td style="border-top: none; vertical-align: middle;"><center><a href="/pages/bild13"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk13_klein.png" /></a></center><br /><p align="center">Phillip in den D&uuml;nen</p></td>
		</tr>
		<tr>
			<td style="border-top: none; vertical-align: middle;"><center><a href="/pages/bild10"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk10_klein.png" /></a></center><br /><p align="center">Segelschiff vor Dragonera</p></td>
			<td style="border-top: none; vertical-align: middle;"><center><a href="/pages/bild11"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk11_klein.png" /></a></center><br /><p align="center">Koch (Studienarbeit)</p></td>
			<td style="border-top: none; vertical-align: middle;"><center><a href="/pages/bild12"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk12_klein.png" /></a></center><br /><p align="center">Gemeinsames Lesen</p></td>
		</tr>
		<tr>
			<td style="border-top: none; vertical-align: middle;"><center><a href="/pages/bild23"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk23_klein.png" /></a></center><br /><p align="center">Labrador Lui auf den Katzenk&ouml;pfen</p></td>
			<td style="border-top: none; vertical-align: middle;"><center><a href="/pages/bild5"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk5_klein.jpg" /></a></center><br /><p align="center">Kater Toni</p></td>
			<td style="border-top: none; vertical-align: middle;"><center><a href="/pages/bild2"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk2_klein.jpg" /></a></center><br /><p align="center">Michelle am Strand</p></td>
		</tr>
	</tbody>
</table>