<h2 style="margin-bottom: 6px;">Portraits</h2>
<center><p style="font-size: 0.7em;">Zum vergrößern auf die Werke klicken</p></center>
<table class="table">
	<tbody>
		<tr>
			<td style="border-top: none;"><center><a href="/pages/werk25"><img src="/assets/werk25_klein.png" /></a></center><br /><p align="center">Labrador<br /> 16 x 20 	&Ouml;l</p></td>
			<td style="border-top: none;"><center><a href="/pages/werk6"><img src="/assets/werk6_klein.jpg" /></a></center><br /><p align="center">Labrador<br /> 16 x 20 	&Ouml;l</p></td>
			<td style="border-top: none;"><center><a href="/pages/werk19"><img src="/assets/werk19_klein.png" /></a></center><br /><p align="center">Labrador<br /> 16 x 20 	&Ouml;l</p></td>
		</tr>
		<tr>
			<td style="border-top: none;"><center><a href="/pages/werk16"><img src="/assets/werk16_klein.png" /></a></center><br /><p align="center">Spaziergang am Nordseestrand<br /> 16 x 20 	&Ouml;l</p></td>
			<td style="border-top: none;"><center><a href="/pages/werk17"><img src="/assets/werk17_klein.png" /></a></center><br /><p align="center">Kater<br /> 20 x 16 	&Ouml;l</p></td>
			<td style="border-top: none;"><center><a href="/pages/werk13"><img src="/assets/werk13_klein.png" /></a></center><br /><p align="center">Spaziergang am Nordseestrand<br /> 16 x 20 	&Ouml;l</p></td>
		</tr>
		<tr>
			<td style="border-top: none;"><center><a href="/pages/werk10"><img src="/assets/werk10_klein.png" /></a></center><br /><p align="center">Spaziergang am Nordseestrand<br /> 16 x 20 	&Ouml;l</p></td>
			<td style="border-top: none;"><center><a href="/pages/werk11"><img src="/assets/werk11_klein.png" /></a></center><br /><p align="center">Kater<br /> 20 x 16 	&Ouml;l</p></td>
			<td style="border-top: none;"><center><a href="/pages/werk12"><img src="/assets/werk12_klein.png" /></a></center><br /><p align="center">Labrador<br /> 16 x 20 	&Ouml;l</p></td>
		</tr>
		<tr>
			<td style="border-top: none;"><center><a href="/pages/werk23"><img src="/assets/werk23_klein.png" /></a></center><br /><p align="center">Spaziergang am Nordseestrand<br /> 16 x 20 	&Ouml;l</p></td>
			<td style="border-top: none;"><center><a href="/pages/werk5"><img src="/assets/werk5_klein.jpg" /></a></center><br /><p align="center">Kater<br /> 20 x 16 	&Ouml;l</p></td>
			<td style="border-top: none;"><center><a href="/pages/werk2"><img src="/assets/werk2_klein.jpg" /></a></center><br /><p align="center">Dame dem Meer entgegenblickend<br /> 16 x 20 	&Ouml;l</p></td>
		</tr>
	</tbody>
</table>