<h2 style="margin-bottom: 6px;">Alle Werke</h2>
<center><p style="font-size: 0.7em;">Zum vergrößern auf die Werke klicken</p></center>
<table class="table">
	<tbody>
		<tr>
			<td style="border-top: none;"><center><a href="/pages/werk26"><img src="/assets/werk26_klein.png" /></a></center><br /><p align="center">Spaziergang am Nordseestrand<br /> 16 x 20 	&Ouml;l</p></td>
			<td style="border-top: none;"><center><a href="/pages/werk26"><img src="/assets/werk26_klein.png" /></a></center><br /><p align="center">Kater<br /> 20 x 16 	&Ouml;l</p></td>
			<td style="border-top: none;"><center><a href="/pages/werk25"><img src="/assets/werk25_klein.png" /></a></center><br /><p align="center">Labrador<br /> 16 x 20 	&Ouml;l</p></td>
		</tr>
		<tr>
			<td style="border-top: none;"><center><a href="/pages/werk24"><img src="/assets/werk24_klein.png" /></a></center><br /><p align="center">Spaziergang am Nordseestrand<br /> 16 x 20 	&Ouml;l</p></td>
			<td style="border-top: none;"><center><a href="/pages/werk23"><img src="/assets/werk23_klein.png" /></a></center><br /><p align="center">Kater<br /> 20 x 16 	&Ouml;l</p></td>
			<td style="border-top: none;"><center><a href="/pages/werk22"><img src="/assets/werk22_klein.png" /></a></center><br /><p align="center">Labrador<br /> 16 x 20 	&Ouml;l</p></td>
		</tr>
		<tr>
			<td style="border-top: none;"><center><a href="/pages/werk21"><img src="/assets/werk21_klein.png" /></a></center><br /><p align="center">Spaziergang am Nordseestrand<br /> 16 x 20 	&Ouml;l</p></td>
			<td style="border-top: none;"><center><a href="/pages/werk20"><img src="/assets/werk20_klein.png" /></a></center><br /><p align="center">Kater<br /> 20 x 16 	&Ouml;l</p></td>
			<td style="border-top: none;"><center><a href="/pages/werk19"><img src="/assets/werk19_klein.png" /></a></center><br /><p align="center">Labrador<br /> 16 x 20 	&Ouml;l</p></td>
		</tr>
		<tr>
			<td style="border-top: none;"><center><a href="/pages/werk16"><img src="/assets/werk16_klein.png" /></a></center><br /><p align="center">Spaziergang am Nordseestrand<br /> 16 x 20 	&Ouml;l</p></td>
			<td style="border-top: none;"><center><a href="/pages/werk17"><img src="/assets/werk17_klein.png" /></a></center><br /><p align="center">Kater<br /> 20 x 16 	&Ouml;l</p></td>
			<td style="border-top: none;"><center><a href="/pages/werk18"><img src="/assets/werk18_klein.png" /></a></center><br /><p align="center">Labrador<br /> 16 x 20 	&Ouml;l</p></td>
		</tr>
		<tr>
			<td style="border-top: none;"><center><a href="/pages/werk13"><img src="/assets/werk13_klein.png" /></a></center><br /><p align="center">Spaziergang am Nordseestrand<br /> 16 x 20 	&Ouml;l</p></td>
			<td style="border-top: none;"><center><a href="/pages/werk14"><img src="/assets/werk14_klein.png" /></a></center><br /><p align="center">Kater<br /> 20 x 16 	&Ouml;l</p></td>
			<td style="border-top: none;"><center><a href="/pages/werk15"><img src="/assets/werk15_klein.png" /></a></center><br /><p align="center">Labrador<br /> 16 x 20 	&Ouml;l</p></td>
		</tr>
		<tr>
			<td style="border-top: none;"><center><a href="/pages/werk10"><img src="/assets/werk10_klein.png" /></a></center><br /><p align="center">Spaziergang am Nordseestrand<br /> 16 x 20 	&Ouml;l</p></td>
			<td style="border-top: none;"><center><a href="/pages/werk11"><img src="/assets/werk11_klein.png" /></a></center><br /><p align="center">Kater<br /> 20 x 16 	&Ouml;l</p></td>
			<td style="border-top: none;"><center><a href="/pages/werk12"><img src="/assets/werk12_klein.png" /></a></center><br /><p align="center">Labrador<br /> 16 x 20 	&Ouml;l</p></td>
		</tr>
		<tr>
			<td style="border-top: none;"><center><a href="/pages/werk4"><img src="/assets/werk4_klein.jpg" /></a></center><br /><p align="center">Spaziergang am Nordseestrand<br /> 16 x 20 	&Ouml;l</p></td>
			<td style="border-top: none;"><center><a href="/pages/werk5"><img src="/assets/werk5_klein.jpg" /></a></center><br /><p align="center">Kater<br /> 20 x 16 	&Ouml;l</p></td>
			<td style="border-top: none;"><center><a href="/pages/werk6"><img src="/assets/werk6_klein.jpg" /></a></center><br /><p align="center">Labrador<br /> 16 x 20 	&Ouml;l</p></td>
		</tr>
		<tr>
			<td style="border-top: none;"><center><a href="/pages/werk1"><img src="/assets/werk1_klein.jpg" /></a></center><br /><p align="center">Friesenhaus<br /> 16 x 20 	&Ouml;l</p></td>
			<td style="border-top: none;"><center><a href="/pages/werk2"><img src="/assets/werk2_klein.jpg" /></a></center><br /><p align="center">Dame dem Meer entgegenblickend<br /> 16 x 20 	&Ouml;l</p></td>
			<td style="border-top: none;"><center><a href="/pages/werk3"><img src="/assets/werk3_klein.jpg" /></a></center><br /><p align="center">Syler Strand<br /> 16 x 20 	&Ouml;l</p></td>
		</tr>
		<tr>
			<td style="border-top: none;"><center><a href="/pages/werk7"><img src="/assets/werk7_klein.png" /></a></center><br /><p align="center">Haus an der Hamburger Elbe<br /> 18 x 20 	&Ouml;l</p></td>
			<td style="border-top: none;"><center><a href="/pages/werk8"><img src="/assets/werk8_klein.png" /></a></center><br /><p align="center">Friesenhaus<br /> 16 x 20 	&Ouml;l</p></td>
			<td style="border-top: none;"><center><a href="/pages/werk9"><img src="/assets/werk9_klein.png" /></a></center><br /><p align="center">Friesenhaus Winter<br /> 16 x 20 	&Ouml;l</p></td>
		</tr>
	</tbody>
</table>