<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <ul class="nav">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Werke", bilder_path %></li>
          <li><%= link_to "Kontakt", contact_path %></li>
          <li><%= link_to "Iris Rose", about_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>