<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <ul class="nav">
          <li><a style="color: #efc469;" href="/pages/home">Home</a></li>
          <li><a style="color: #efc469;" href="/pages/bilder">Werke</a></li>
          <li><a style="color: #efc469;" href="/pages/contact">Kontakt</a></li>
          <li><a style="color: #efc469;" href="/pages/about">Iris Rose</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>